<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foto</title>
  <link rel="stylesheet" href="../css/foto.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <div class="wrapper">
    <!-- Sidebar de configurações -->
  <div class="sidebar">
    <h1>ENEMzada</h1>
    <div class="profile">
      <div class="profile-pic"> <img src="../images/foto-user.jpg" /> </div>
      <p class="username">braga</p>
      <div class="progress-label">
        <div class="progress"></div>
      </div>
    </div>
    <nav>
      <ul>
         <a href="home.html">
            <li> <i class="fa-solid fa-house space-icon"> </i> Início </li>
         </a>
        <hr />
        <a href="perfil.html">
          <li> <i class="fa-solid fa-user space-icon"> </i> Minha Conta </li>
        </a>
        <hr />
         <a href="#">
            <li> <i class="fa-solid fa-graduation-cap space-icon"></i> Central de Certificados </li>
         </a>
        <hr />
            <li> <i class="fa-solid fa-camera space-icon"></i> Foto  </li>
        <hr />
         <a href="#">
            <li> <i class="fa-solid fa-shield-halved space-icon"></i> política e privacidade  </li>
         </a>
        <hr />
      </ul>
    </nav>
    <div class="barra">
      <nav>
        <ul>
          <li >Suporte para Alunos</li>
          <li>Termos de Uso / Políticas de Privacidade</li>
        </ul>
      </nav>
    </div>
  </div> <!-- Main Content -->
 
 
    <!-- Conteúdo principal da página -->
    <main class="main-content">
      <h1>Foto</h1>
      <p>Adicione uma bela foto sua para o seu perfil</p>
     
      <!-- Área de visualização da imagem -->
      <div class="image-preview">
        <img src="placeholder.png" alt="Visualização da imagem">
      </div>
     
      <!-- Botão para selecionar a imagem -->
      <div class="upload-container">
        <label for="file-upload" class="upload-button">Fazer upload de imagem</label>
        <input id="file-upload" type="file" accept="image/*">
      </div>
 
      <!-- Botão para salvar -->
      <button class="save-button">Salvar</button>
    </main>
  </div>
</body>
</html>
 
 