<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enemzada-Matematica</title>
    <link rel="stylesheet" href="../css/matematica.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>


<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <h1>ENEMzada</h1>
        <div class="profile">
            <div class="profile-pic"> <img src="../images/user.jpg" /> </div>
            <p class="username">Emerson</p>
            <div class="progress-label">
                <p>Seu progresso</p>
            </div>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
        </div>
          <nav>
            <ul>
        <li><a href="home.html"> <i class="fa-solid fa-house space-icon"></i> Início</a></li>
        <hr />        
        <li><a href="perfil.html"> <i class="fa-solid fa-user space-icon"></i> Meu Perfil</a></li>
        <hr />
        <li><a href="certificados.html"> <i class="fa-solid fa-graduation-cap space-icon"></i> Central de Certificados </a></li>  
        <hr />
        <li> <a href="cursos.html"> <i class="fa-solid fa-book space-icon"></i> Cursos </a></li>
        <hr />
        </ul>
        </nav>
        <div class="barra">
            <nav>
                <ul>
                    <li><a href="feedback.html">Feedback</a></li>
                    <li><a href="suporte.html">Suporte para Alunos</a></li>
                    <li><a href="politicas_termos.html">Termos de Uso / Políticas de Privacidade</a></li>
                </ul>
            </nav>
        </div>

    </div>

    <!-- Main Content -->
    <div class="main-content">
         <header>
            <div class="search">
                <input type="text" class="search__input" placeholder="Pesquisar matérias e aulas...">
                <button class="search__button">
                    <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                        <g>
                            <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                            </path>
                        </g>
                    </svg>
                </button>
            </div>

            <div class="acessibilidade">
                <i class="fa-solid fa-bell" id="notificationBtn"></i>
                <i class="fa-solid fa-universal-access" id="acessibilidadeBtn"></i>
            </div>

            <!-- Menu de acessibilidade -->
            <div class="acessibilidade-menu" id="menuAcessibilidade" aria-hidden="true" style="display: none;">
                <button id="fecharAcessibilidade" class="fechar-btn" aria-label="Fechar menu acessibilidade">&times;</button>
                <h2 class="titulo-acessibilidade">Acessibilidade</h2>
                <hr>
                <button onclick="alterarFonte('aumentar')">Aumentar Fonte</button>
                <button onclick="alterarFonte('diminuir')">Diminuir Fonte</button>
                <button onclick="alternarContraste()">Alto Contraste</button>
            </div>

            <!-- Notificações -->
            <div class="notification-container" id="notificationContainer" style="display: none;">
                <div class="notification-header">
                    <h2>Notificações</h2>
                    <button id="close-notifications" class="close-button">X</button>
                </div>
                <div class="notification-content">
                    <p>Você não tem novas notificações</p>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="terms-content">
                <div class="container">
                    <div class="header-arrow-text">
         <a href="cursos.html">
             <i class="fa-solid fa-chevron-left fa-lg"></i>
            </a>
         <h1>Aprenda Razão e Proporção </h1>
        </div>
              
            <p>Operações com números inteiros, frações e decimais</p>
 

                    <div class="topic-container">
                        <div class="resources-grid">

                            <div class="resource-card">
                                <div class="card-icon" style="background-color: rgba(138, 79, 255, 0.1);">
                                    <span class="icon">1</span>
                                </div>
                                <a href="conteudo-1.html" class="card-link">
                                    <h3 class="card-title">Razão e proporção</h3>
                                </a>

                                <p class="card-description">Compreenda a relação entre grandezas e sua aplicação em
                                    problemas cotidianos.</p>
                            </div>

                            <div class="resource-card">
                                <div class="card-icon" style="background-color: rgba(26, 188, 156, 0.1);">
                                    <span class="icon">2</span>
                                </div>
                                <h3 class="card-title">Porcentagem</h3>
                                <p class="card-description">Aprenda cálculos de porcentagem e sua utilização em
                                    situações financeiras e estatísticas.</p>
                            </div>

                            <div class="resource-card">
                                <div class="card-icon" style="background-color: rgba(231, 76, 60, 0.1);">
                                    <span class="icon">3</span>
                                </div>
                                <h3 class="card-title">Regra de três </h3>
                                <p class="card-description">Domine a técnica de proporção para resolver problemas
                                    matemáticos com facilidade.</p>
                            </div>

                            <div class="resource-card">
                                <div class="card-icon" style="background-color: rgba(52, 152, 219, 0.1);">
                                    <span class="icon">4</span>
                                </div>
                                <h3 class="card-title">Equações do 1º e 2º grau</h3>
                                <p class="card-description">Estude métodos de resolução de equações e aplicações
                                    práticas.</p>
                            </div>

                            <div class="resource-card">
                                <div class="card-icon" style="background-color: rgba(243, 156, 18, 0.1);">
                                    <span class="icon">5</span>
                                </div>
                                <h3 class="card-title">Potenciação e Radiciação</h3>
                                <p class="card-description">Explore as propriedades de potências e raízes para facilitar
                                    cálculos complexos.</p>
                            </div>

                            <div class="resource-card">
                                <div class="card-icon" style="background-color: rgba(155, 89, 182, 0.1);">
                                    <span class="icon">6</span>
                                </div>
                                <h3 class="card-title">Estatística e Probabilidade</h3>
                                <p class="card-description">Aprenda a converter unidades de medida para diferentes
                                    contextos matemáticos.</p>
                            </div>

                            <div class="resource-card">
                                <div class="card-icon" style="background-color: rgba(138, 79, 255, 0.1);">
                                    <span class="icon">7</span>
                                </div>
                                <h3 class="card-title">Geometria</h3>
                                <p class="card-description">Explore os elementos da geometria e aprenda a resolver
                                    problemas com figuras, ângulos e espaços.</p>
                            </div>

                            <div class="resource-card">
                                <div class="card-icon" style="background-color: rgba(231, 76, 60, 0.1);">
                                    <span class="icon">8</span>
                                </div>
                                <h3 class="card-title">Funções</h3>
                                <p class="card-description">Entenda como funções ligam variáveis e representam situações
                                    matemáticas.</p>
                            </div>

                            <div class="resource-card">
                                <div class="card-icon" style="background-color: rgba(26, 188, 156, 0.1);">
                                    <span class="icon">9</span>
                                </div>
                                <h3 class="card-title">Simulado</h3>
                                <p class="card-description">Pratique com simulados para testar seu conhecimento e
                                    melhorar seu desempenho.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/9185a0a212.js" crossorigin="anonymous"></script>
    <script src="../js/notificacoes.js"></script>
    <script src="../js/acessibilidade.js"></script>
</body>

</html>