<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/perfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="container">
  <div class="sidebar">
    <h1>ENEMzada</h1>
    <div class="profile">
      <div class="profile-pic"> <img src="../images/foto-user.jpg" /> </div>
      <p class="username">braga</p>
      <div class="progress-label">
        <div class="progress"></div>
      </div>
    </div>
    <nav>
      <ul>
         <a href="home.html">
            <li> <i class="fa-solid fa-house space-icon"> </i> Início </li>
         </a>
        <hr />
        <li> <i class="fa-solid fa-user space-icon"> </i> Minha Conta </li>
        <hr />
         <a href="#">
            <li> <i class="fa-solid fa-graduation-cap space-icon"></i> Central de Certificados </li>
         </a>
        <hr />
         <a href="foto.html">
            <li> <i class="fa-solid fa-camera space-icon"></i> Foto  </li>
         </a>
        <hr />
         <a href="#">
            <li> <i class="fa-solid fa-shield-halved space-icon"></i> política e privacidade  </li>
         </a>
        <hr />
      </ul>
    </nav>
    <div class="barra">
      <nav>
        <ul>
          <li >Suporte para Alunos</li>
          <li>Termos de Uso / Políticas de Privacidade</li>
        </ul>
      </nav>
    </div>
  </div> <!-- Main Content -->
 
 
        <main class="content">
            <h1>Perfil</h1>
            <p>Adicione informações sobre você</p>
 
            <form>
                <div class="profile-section">
                    <label for="name">Dados básicos:</label>
                    <input type="text" id="name" value="">
                </div>
 
                <div class="profile-section">
                    <label for="title">Profissão ou título:</label>
                    <input type="text" id="title" value="">
                    <small>Adicione um título profissional, como "Instrutor na Udemy" ou "Arquiteto".</small>
                </div>
 
                <div class="profile-section">
                    <label for="bio">Biografia:</label>
                    <textarea id="bio"></textarea>
                    <small>Não é permitido usar links e códigos de cupom nessa seção.</small>
                </div>
            </form>
        </main>
    </div>
</body>
</html>
 